<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendancetrackingsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserUi.viewAttendance"></activity>
        <activity
            android:name=".UserUi.UserMainActivity"
            android:label="@string/title_activity_user_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserUi.UserLogin" />
        <activity android:name=".Facultyui.viewAttendanceCourseWise" />
        <activity android:name=".Facultyui.TakeAttendance.takeAttendance" />
        <activity android:name=".Facultyui.StudentList" />
        <activity
            android:name=".FacultyMainActivity"
            android:label="@string/title_activity_faculty_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminUi.AddSubject.add_subject_activiity" />

        <activity
            android:name=".AdminUi.AddSubject.AddSubjectFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".AdminUi.AddFaculty.AddFacultyActivity" />
        <activity android:name=".AdminUi.AddUser.user_add" />
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".FacultyLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>